@import "tailwindcss";

@import 'primeicons/primeicons.css';


/* Inside your global CSS or Tailwind layer */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


@custom-variant dark (&:where(.dark, .dark *))
