@import "tailwindcss";

@import 'primeicons/primeicons.css';


/* Inside your global CSS or Tailwind layer */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* In your global.css or Tailwind config */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}



@custom-variant dark (&:where(.dark, .dark *))
